div.sourceCode,
pre:not(.sourceCode) {
    background: hsl(80, 12.3%, 21.1%);
}

pre code {
    color: #ebdbb2;
}

code span.kw {
    color: #fb4934;
    font-weight: normal;
    font-style: normal;
}


/* Keyword */

code span.dt {
    color: #fabd2f;
    font-weight: normal;
    font-style: normal;
}


/* DataType */

code span.dv {
    color: #b8bb26;
    font-weight: normal;
    font-style: normal;
}


/* DecVal */

code span.bn {
    color: #b8bb26;
    font-weight: normal;
    font-style: normal;
}


/* BaseN */

code span.fl {
    color: #b8bb26;
    font-weight: normal;
    font-style: normal;
}


/* Float */

code span.ch {
    color: #b8bb26;
    font-weight: normal;
    font-style: normal;
}


/* Char */

code span.st {
    color: #b8bb26;
    font-weight: normal;
    font-style: normal;
}


/* String */

code span.co {
    color: #928374;
    font-weight: normal;
    font-style: italic;
}


/* Comment */

code span.ot {
    color: #83a598;
    font-weight: normal;
    font-style: normal;
}


/* Other */

code span.al {
    color: #fb4934;
    font-weight: normal;
    font-style: normal;
}


/* Alert */

code span.fu {
    color: #83a598;
    font-weight: normal;
    font-style: normal;
}


/* Function */

code span.er {
    color: #fb4934;
    font-weight: normal;
    font-style: normal;
}


/* Error */

code span.wa {
    color: #d79921;
    font-weight: normal;
    font-style: italic;
}


/* Warning */

code span.cn {
    color: #b8bb26;
    font-weight: normal;
    font-style: normal;
}


/* Constant */

code span.sc {
    color: #fb4934;
    font-weight: normal;
    font-style: normal;
}


/* SpecialChar */

code span.vs {
    color: #ebdbb2;
    font-weight: normal;
    font-style: normal;
}


/* VerbatimString */

code span.ss {
    color: #fb4934;
    font-weight: normal;
    font-style: normal;
}


/* SpecialString */

code span.im {
    color: #ebdbb2;
    font-weight: normal;
    font-style: normal;
}


/* Import */

code span.va {
    color: #83a598;
    font-weight: normal;
    font-style: normal;
}


/* Variable */

code span.cf {
    color: #fb4934;
    font-weight: normal;
    font-style: normal;
}


/* ControlFlow */

code span.op {
    color: #fb4934;
    font-weight: normal;
    font-style: normal;
}


/* Operator */

code span.bu {
    color: #ebdbb2;
    font-weight: normal;
    font-style: normal;
}


/* BuiltIn */

code span.ex {
    color: #ebdbb2;
    font-weight: normal;
    font-style: normal;
}


/* Extension */

code span.pp {
    color: #d79921;
    font-weight: normal;
    font-style: normal;
}


/* Preprocessor */

code span.at {
    color: #ebdbb2;
    font-weight: normal;
    font-style: normal;
}


/* Attribute */

code span.do {
    color: #928374;
    font-weight: normal;
    font-style: italic;
}


/* Documentation */

code span.an {
    color: #928374;
    font-weight: normal;
    font-style: italic;
}


/* Annotation */

code span.cv {
    color: #928374;
    font-weight: normal;
    font-style: italic;
}


/* CommentVar */

code span.in {
    color: #928374;
    font-weight: normal;
    font-style: italic;
}


/* Information */

a.sourceLine::before {
    text-decoration: none;
}